body{
    background-color:#2ab8a5;
}

#navi{
    padding: 1.5vw;
    display: block;
    background-color: #1c8077;
    position: absolute;
    top: 0vw; left:0vw;
    
    border: 0px solid red;
}

@media screen and (min-width: 800px) {
    #navi {
        height: 2vw;    
        width: 97vw;
    }
    .tabs{
        margin: 2vw;
        padding: 1vw;    
        border-bottom: 2px solid aliceblue;
    }
    #head{
        top: 5vw;
    }
    #first{
        top:6.5vw;
        width: 50%;
    }
    #second{
        top: 8.5vw;
        width: 50%;    
        padding: 1vw;
    }
  }



@media screen and (max-width: 800px) {
    #navi {
        height: 25vw;
        padding-top: 0.5vw;
        width: 97vw;
    }
    .tabs{
        display: block;
        margin-left: 5vw;
        height: 2vw;
        width: 80vw;
        padding: 2vw;
        border-bottom: 1px solid aliceblue;
    }
    #head{
        top: 25vw;
    }
    #first{
        top: 22vw;
        border: 0px solid red;
        width: 70%;
    }
    #second{
        top:22vw;
        width: 80%;
        padding: 2vw;
    }

}


/* 
@media screen and (max-width: 600px) {
    #navi{
        width: 97vw;
    }
}
@media screen and (max-width: 470px) {
    #navi{
        width: 96vw;
    }
} 
*/


.tabs{
    text-decoration: none;
    color:#f0f0f0 ;
    
    background-color: inherit;
    border-radius: 0px;
}

.tabs:hover{
    color: #1c8077;
    
    background-color: aliceblue;
    box-shadow: 0px 0px 10px 2px #124d45;
    border-radius: 5px;

}

#head{
    display: block;
    position: relative;
    margin: auto;
    width: 50%;

    border: 0px solid red;
    padding: 2vw;
}
#heading{
    text-align: center;
}


#first{
    display: block;
    position: relative;
    margin: auto;
    padding: 1vw;
    
}
.btn{
    margin: 2vw;
    margin-left: 5vw; margin-right: 3vw;
    color: #124d45;
    background-color: #a4ecec;
    padding: 1vw;
    border: 3px solid #16665f ;
    border-radius: 10px;
}
.btn:hover{
    color: #a4ecec;
    background-color: #124d45;
    border-color: #a4ecec;
    
    box-shadow: 0px 0px 15px 3px #124d45;
}


#footer { 
    padding: 1.5vw;
    display: block;
    width: 100vw;
    height: 1.5vw;
    background-color: #1c8077;
    position: fixed;
    bottom: 0vw; left:0vw;
    border-top: 2px solid #f0f0f0;
}

#second{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
    display: block;
    border: 0px solid red;
    position: relative;
    
    margin: auto;

}